<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location give for trip tracking which is absolutely necessary.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Location give for trip tracking which is absolutely necessary. i promise</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location give for trip tracking which is absolutely necessary no cap.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
</dict>
</plist>
